$default-tile-padding: 2em;

$standard-dark-main: darkred;

$transparent-dark-main: rgba(255, 0, 0, 0.3);
$darkest-main: rgb(40, 0, 0);
$darkest-main-alt: rgb(56, 0, 0);

$darker-main-alt: rgb(120, 0, 0);
$darker-main: rgb(190, 0, 0);               // | green
$dark-main: rgb(200, 0, 0);                 // | limegreen
$main: crimson;                             // | lime
$highlight-main: rgb(200, 0, 0);            // | lighten(lime, 10%) || chartreuse
$lighten-main: orangered;

$dark-blue: #050b1a;
$dark-blue-with-alpha: #050b1ae8;
// $dark-blue: darken(darkred, 20%);

$blue-gray: rgb(6, 10, 19);

$sf-blue: rgba(0, 255, 170, 0.424);

$project-face-color: rgb(0, 6, 20);

$main-bg-blend: color;

$linkedin-blue: #0077b5;

$description-main: $dark-main;
// $description-main: lightgray;

// - layout
$standard-page-margins: 2em 4em;
